*{
    margin: 0;
    padding: 0;
}
body{
    background: sandybrown;
    font-family: 'Open Sans', sans-serif;
}
.main{
    width: 1200px;
    margin: 0 auto;
}
input[type="radio"]{
    display: none;
}

.items label.pic{
    cursor: pointer;
    display: block;
    width: 200px;
    height: 200px;
    /*background: url('http://payload.cargocollective.com/1/1/40748/2050265/monster15.jpg');*/
    /*border: 2px solid cadetblue;*/
    background-size: 150%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    float: left;
    margin-right: 30px;
    -webkit-transition: all 0.3s ease;
    opacity: 0;
    border-radius: 100px;
    vertical-align: middle;
}
.items label span{
    margin-left: 10px;
    margin-top: 10px;
    width: 180px;
    height: 180px;
    display: block;
    background: white;
    border-radius: 100px;
    /*//opacity: 0.9;*/
    -webkit-transform:scale(0);
    background-image: url('http://payload.cargocollective.com/1/1/40748/2050265/monster15.jpg');
    background-position: 50% 50%;
    background-size: 150%;

}
.items {
    position: relative;
    z-index: 100;
    width: 1120px;
    margin: 0 auto;
    -webkit-backface-visibility: hidden;
    margin-top: 150px;
    width: 1120px;
    height: 300px;
    /*background-color: beige;*/
    /*-webkit-perspective: 1300px;*/
}
.items label.pic.item1{
    background-image: url('http://payload.cargocollective.com/1/1/40748/2050265/monster15.jpg');
    background: #566371;
    -webkit-transform: translateY(-150%) translateX(300px);
    -webkit-transition-delay: 0s;
}
.items label.pic.item2{
    background-image: url('http://payload.cargocollective.com/1/1/40748/2050265/monster06.jpg');
    background: #4fcdc4;
    -webkit-transform: translateY(-150%) translateX(150px);
    -webkit-transition-delay: 0.05s;
}
.items label.pic.item3{
    background-image:  url('http://payload.cargocollective.com/1/1/40748/2050265/monster03.jpg');
    background: #c7f465;
    -webkit-transform: translateY(-150%) translateX(0px);
    -webkit-transition-delay: 0.1s;
}
.items label.pic.item4{
    background-image:  url('http://payload.cargocollective.com/1/1/40748/2050265/monster02.jpg');
    background: #ff6c6c;
    -webkit-transform: translateY(-150%) translateX(-150px);
    -webkit-transition-delay: 0.15s;
}
.items label.pic.item5{
    background-image: url('http://payload.cargocollective.com/1/1/40748/2050265/monster05.jpg');
    background: #c44e59;
    margin-right: 0;
    -webkit-transform: translateY(-150%) translateX(-300px);
    -webkit-transition-delay: 0.2s;
}
input[type="checkbox"]:checked ~ .items{
    -webkit-transition: all 0.3s ease;
}
input[type="checkbox"]:checked ~ .items label.pic{
    opacity: 1;
    -webkit-transition: all 500ms cubic-bezier(0.065, 0.730, 0.065, 1.255);
    -webkit-transform: translateY(0) translateX(0);
}
input[type="checkbox"]:checked ~ .items label.pic.item1{
    -webkit-transition-delay: 0s;
}
input[type="checkbox"]:checked ~ .items label.pic.item2{
    -webkit-transition-delay: 0.05s;
}
input[type="checkbox"]:checked ~ .items label.pic.item3{
    -webkit-transition-delay: 0.1s;
}
input[type="checkbox"]:checked ~ .items label.pic.item4{
    -webkit-transition-delay: 0.15s;
}
input[type="checkbox"]:checked ~ .items label.pic.item5{
    -webkit-transition-delay: 0.2s;
}

input[type="checkbox"]:checked ~ .items input:checked + label.pic{
    -webkit-transition: -webkit-transform 0.3s ease-in;
    /*display: none;*/
    /*background-size: 300px;*/
    /*border-radius: 0;*/
    /*border: 0px;*/
    /*padding-left: 2px;*/
    /*padding-right: 2px;*/
    /*opacity: 0.5;*/
    position: relative;
    z-index: 1000;
}
input[type="checkbox"]:checked ~ .items input:checked + label span{
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transition-delay: 0.2s;
    -webkit-transform:scale(1)
}
input[type="checkbox"]:checked ~ .items input:checked + .item1{
    -webkit-transform:scaleX(2) scaleY(2) translateX(230px) rotateY(180deg);
}
input[type="checkbox"]:checked ~ .items input:checked + .item2{
    -webkit-transform:scaleX(2) scaleY(2) translateX(115px) rotateY(180deg);
}
input[type="checkbox"]:checked ~ .items input:checked + .item3{
    -webkit-transform:scaleX(2) scaleY(2) translateX(0px) rotateY(180deg);
}
input[type="checkbox"]:checked ~ .items input:checked + .item4{
    -webkit-transform:scaleX(2) scaleY(2) translateX(-115px) rotateY(180deg);
}
input[type="checkbox"]:checked ~ .items input:checked + .item5{
    -webkit-transform:scaleX(2) scaleY(2) translateX(-230px) rotateY(180deg);
}
.close{
    -webkit-transform: scale(0);
    background: white;
    line-height: 70px;
    text-align: center;
    border-radius: 35px;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -100px;
    right: 340px;
    -webkit-transition-delay: 0s;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(.9,-0.25,.87,.26);
}
input[type="checkbox"]:checked ~ .items input:not(.close-input):checked ~ label.close{
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transition-delay: 0.4s;
    -webkit-transform:scale(1) translateX(0px) translateY(0px);
}
input[type="checkbox"]:checked ~ .items input.close-input:checked{
    -webkit-transform: scale(0);
    -webkit-transition-delay: 0s;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(.9,-0.25,.87,.26);
}
/*check box*/
input[type="checkbox"]{
    display: none;
}
input[type="checkbox"] + label{
    -webkit-perspective: 400px;
    cursor: pointer;
    font-size: 32px;

    font-weight: 300;
    color: white;
    height: 50px;
    line-height: 50px;
    margin: 32px auto 0;
    display: block;
    width: 240px;
    text-align: center;
    position: relative;
    z-index: 10000;
}
input[type="checkbox"] + label span{
    border-radius: 0px;
    background: forestgreen;
    display: block;
    -webkit-backface-visibility: hidden;
}
input[type="checkbox"] + label .flip-true{
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transform: rotateX(180deg);


}
input[type="checkbox"] + label .flip-false{
    -webkit-transition: -webkit-transform 0.3s ease;
    -webkit-transform: rotateX(0deg);
    margin-top: -50px;
}

input[type="checkbox"]:checked + label .flip-true{
    -webkit-transform: rotateX(0deg);

}
input[type="checkbox"]:checked + label .flip-false{
    -webkit-transform: rotateX(-180deg);
}
.info{
    text-align: center;
    color: #566371;
    margin-top: 32px;
    margin-bottom: 32px;
}
a{
    text-decoration: none;
    color: #c44e59;

}